// These colors are specific to the theme. Do not use in a package!

@very-light-gray: #c5c8c6;
@light-gray: #969896;
@gray: #4a4f57;
@dark-gray: #282a2e;
@very-dark-gray: #201c1c;

@brown: @very-dark-gray;
@cyan: #a6dcd0;
@blue: #11BAB4;
@purple: #9b76c2;
// @purple: #b294bb;
@green: #BED300;
@red: #b92525;
// @red: #FB4F4F;
@orange: #ff7f2a;
@light-orange: #DACDBB;
